<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548848905061-qtcfmpskc4ov38kcld4vcj8tfb33rr6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548848905061-qtcfmpskc4ov38kcld4vcj8tfb33rr6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAzEEwTrzRw5Gl0E14lWG5UjOzy0r7iXq4</string>
	<key>GCM_SENDER_ID</key>
	<string>548848905061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicBankingApp</string>
	<key>PROJECT_ID</key>
	<string>basic-banking-app-eb2a6</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-banking-app-eb2a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548848905061:ios:8ede00285525ef3dbb4f8c</string>
</dict>
</plist>